<div class="container">
  <div class="card mt-5 mx-auto w-25">
    <div class="card-header">
      Pokemon Search
    </div>
    <div class="card-body">
      <form>
        <div class="form-group d-inline-flex justify-content-center align-items-center">
          <input type="text" class="form-control form-control-md" name="pokemonSearchInput" placeholder="Pokemon Name" [(ngModel)]="searchName">
          <button type="button" class="btn btn-success ml-2" (click)="lookup()">Search</button>
        </div>
      </form>
    </div>
  </div>
  <div class="rounded p-3">
    <table class="table table-hover table-dark shadow-sm w-50 mx-auto mt-5 ">
      <thead>
        <tr>
          <th>Stat Name</th>
          <th>Base Stat Value</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let stat of statData; let i = index'>
          <td>{{ stat.statName }}</td>
          <td>{{ stat.baseStatValue }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
